doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="keywords" content="HTML, CSS, leaflet, JavaScript, openshift, nodejs, openstreetmap")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="brandboat")
    link(href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" rel="stylesheet")
    link(href="/css/route.css" rel="stylesheet")
    link(href="/semantic/packaged/css/semantic.min.css" rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css')
    script(src="/semantic/packaged/javascript/semantic.js" type="text/script")
    script(src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js?2" type="text/javascript")
    script(src="/javascripts/plugins/Leaflet.MakiMarkers.js" type="text/javascript")
    script(src="http://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js")
    title osmapp

  body(onload="start()")
    div(id="menu")
      div(class="ui primary inverted segment")
        a(class="item")
          <i class="location icon"></i> Routing
      div(class="ui black header")
        <i class="map marker icon"></i> Control Panel
      div(class="ui form segmant")
        div(class="inline fields")
          div(class="ui button" id="begin") begin
          div(class="field")
            div(class="ui input")
              input(type="text" placeholder="latitude" id="beginLat")
            div(class="ui input")
              input(type="text" placeholder="longitude" id="beginLng")
        div(class="inline fields")
          div(class="ui button" id="end") end
          div(class="field")
            div(class="ui input")
              input(type="text" placeholder="latitude" id="endLat")
            div(class="ui input")
              input(type="text" placeholder="longitude" id="endLng")
        div(class="ui buttons")
          div(class="ui red button" id="reset") Reset
          div(class="or")
          div(class="ui green submit button" id="route") Route
      div(class="ui black header")
        <i class="road icon"></i> Road
      div(id="road")
    div(id="map")
    script(type="text/javascript", src="/javascripts/route.js")

